body {
    font-family: Monaco, Georgia;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #bcb5b5;
    background-color: #3475b2;
}

header {
    background: #171515;
    color: #b7c7f3;
    padding: 1em 0;
    text-align: left;
}

nav ul {
    list-style: none;
    background: #82e0e6;
    text-align: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: rgb(240, 239, 242);
    padding: 0.5em 1em;
    text-decoration: none;
}

nav ul li a:hover {
    background: #da1010;
}

section {
    padding: 1em;
    margin: 1em 0;
}

footer {
    text-align: center;
    padding: 1em 0;
    background: #333;
    color: white;
}

#projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: greenyellow;
    background: #171515;
}

#skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color:greenyellow;
    background: #171515;
}
#archievements {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: greenyellow;
    background: #171515;
}

body {
    background-image: url('https://i.gifer.com/origin/e6/e64a872e65441976732595040148d268_w200.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}